<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
    crossorigin="anonymous">
<link rel="Shortcut Icon" href="images/favicon-16x16.png" type="image/x-icon" />
<link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
<style>
    body {
        background: #00F260;
        /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #0575E6, #00F260);
        /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #0575E6, #00F260);
        /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    }

    a {
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }

    .regresar a {
        background-color: black;
        color: rgb(240, 233, 233);
    }

    .regresar a:hover {
        background-color: black;
        color: rgb(240, 233, 233);
    }
</style>
<div class="container text-center">
    <div>
        <h1>Ingrese el tema a buscar para poder ayudarte!</h1>
    </div>
    <br>
    <div class="regresar">
        <a class="btn btn-primary" href="/">REGRESE AL BUSCADOR - Xsearch</a>
    </div>
    <img src="images/imagesWeb/losentimos.png" alt="Lo sentimos" width="500px" height="410px">
    <hr>
    <footer>
        <p><strong>License: MIT, John Mendoza</strong> - <a href="https://github.com/john2306/buscador" target="_blank">Web
                personal</a></p>
    </footer>
</div>